services:
  mongodb:
    container_name: mongodb
    image: docker.io/library/mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: api
      MONGO_INITDB_ROOT_PASSWORD: N6QmF7kSNGLq
    volumes:
      - mongo_db_data:/data/db
  api:
      container_name: api
      build: ./API
      image: api
      working_dir: /usr/src/app      
      volumes:
        - API:/usr/src/app
      ports:
        - 5000:5000
      command: pnpm run dev
      depends_on:
        - mongodb
  front:
      container_name: front
      build: ./FRONT
      image: front
      depends_on:
        - api
      volumes:
        #- ./FRONT:/usr/src/app
        - astro_node_modules:/app/node_modules
      ports:
        - 4321:4321
      command: npm run dev 
volumes:
  mongo_db_data:
    driver: local
  API:
  FRONT:
  astro_node_modules:
  
  
  #podman-compose down && podman rmi --all && podman-compose up -d --build --no-cache && podman-compose logs -f
 
