services:
  node:
    image: docker.io/library/node
    container_name: node
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    ports:
      - 5000:5000
    command: npm run dev
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/carChargingAPI
      
  mongodb:
    image: docker.io/library/mongo
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: api
      MONGO_INITDB_ROOT_PASSWORD: N6QmF7kSNGLq  
    volumes:
      - mongo_db_data:/data/db/
      - ./docker-entrypoint-initdb.d/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

volumes:
  mongo_db_data:
    driver: local
    name: mongo_db_data

#docker-compose down && docker-compose up -d && docker-compose logs -f web
